name: $bog_mol

permissions: write-all

on:
  workflow_dispatch:
  push:
  pull_request:
  schedule:
  - cron: "0 7 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    
    - uses: hyoo-ru/mam_build@master2
      with:
        package: 'bog/mol'
        modules: 'app invoicer'
    
    - uses: hyoo-ru/gh-deploy@v4.4.1
      if: github.ref == 'refs/heads/main'
      with:
        folder: 'bog/mol/app/-'

    - uses: hyoo-ru/gh-deploy@v4.4.1
      if: github.ref == 'refs/heads/main'
      with:
        folder: 'bog/mol/invoicer/-'
        target-folder: 'invoicer/'
